 <div class="row">
  <div class="col-lg-6">
    <div class="card" style="padding: 20px">
      <h1>App de gestion de Empleados</h1>
      <p>Aqui podras encontrar la lista de los empleados su historia laboral y profesion</p>
    </div>
  </div>
</div>